<krama-menu [menu]="familias$ | async" title="Krama Shop" 
menuLabel="description" urlPrefix="item/list"
menuUrl="id" [enableHomeItem]="true" homeLabel="Inicio">
</krama-menu>


<ion-content>
  
  <ion-header class="mobile-header">
    <ion-toolbar>
      <ion-buttons slot="start">  
        <ion-menu-button color="dark"></ion-menu-button>
      </ion-buttons>
      
      <ion-title>
        Krama Shop
      </ion-title>
      
    </ion-toolbar>
  </ion-header>
  
  <div class="header">
    <a class="title" routerLink="/">
      <h1>Krama Shop</h1>
    </a>
    <div class="menu-items">
      <a *ngFor="let familia of familias$ | async" 
      class="menu-item" [routerLink]="['item/list', familia.id]" >
        {{ familia.description }}
      </a>
    </div>
  </div>
  
  <div id="container">
    <ion-router-outlet Id="content"></ion-router-outlet>
  </div>
</ion-content>
