#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}



@media(min-width: 768px) {
  krama-menu {
    display: none;
  }
  krama-menu ion-menu {
    display: none;
  }
  .mobile-header {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;
    background: #fff;
    height: 3.5rem;
    padding-left: 2rem;
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.25);
    color: rgb(66, 66, 66);
  }
  
  .header .menu-items {
    display: flex;
    gap: 40px;
    margin-left: 25%;
    height: 100%;
  }
  
  .header .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    min-width: 5rem;
  }
  .header .menu-item:hover {
    text-decoration: none;
    color: var(--ion-color-primary-shade);
    background-color: #efefef;
  }
  
}

@media(max-width: 768px) {
  krama-menu {
    display: block;
  }
  krama-menu ion-menu {
    display: block;
  }
  .mobile-header {
    display: block;
  }

  .header {
    display: none;
  }
}


.title {
  color: #424242;
  text-decoration: none;
}